
@media screen and (max-width: 600px) {
  
    .destaques {
        margin-top: 50px;
        display: block;
        padding: 0;
        text-align: center;
    }

    .boxes{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
       
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .boxes div{
      
        text-align: center;
        width: 40%;
        padding: 0;
    }

    .boxes img{
        width: 100%;
    }

    footer {
        display: block;
    }
    
    

  
}