.navbar-sub-1 {
    width: 100%;
}

.navbar-sub-1 a {
    float: right;
    font-size: 16pt;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-sub-3 .dropbtn-sub-3 {
    font-size: 16pt;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.navbar-sub-3 a:hover, .dropdown-sub-3:hover .dropbtn-sub-3 {
    background-color: lightgray;
}

.dropdown-content-sub-3 {
    display: none;
    left: 160px;
    top: 105px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    
}

.dropdown-content-sub-3 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content-sub-3 a:hover {
    background-color: #ddd;
}

.dropdown-sub-3:hover .dropdown-content-sub-3 {
    display: block;
}